provider "aws" {
  region = "{{ region }}"
}

data "aws_ami" "amazon_linux" {
  most_recent = true
  owners      = ["amazon"]
  filter {
    name   = "name"
    values = ["amzn2-ami-hvm-*-x86_64-gp2"]
  }
}

resource "aws_instance" "vm" {
  ami           = data.aws_ami.amazon_linux.id
  instance_type = "{{ instance_type }}"

  tags = {
    Name = "demo-{{ instance_type }}-{{ region }}"
  }
}

output "instance_id" {
  value = aws_instance.vm.id
}

output "public_ip" {
  value = aws_instance.vm.public_ip
}
